/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
	background-color: #5DADE2;
}

h1 {
	font-size: 100px;
	text-decoration: strong;
	text-align: center;
}

h2 {
	font-size: 50px;
	text-decoration: underline;
}

li {
    list-style-type: circle;
 }

article {
	font-size: 20px;
}

.glist {
	text-decoration: underline;
	margin-bottom: 5px;
}

#sfimage {
	position: relative;
	float: right;
}

#roleplaying {
	position: relative;
	float: right;
}

#action {
	position: relative;
	float: right;
}

article {
	padding-top: 30px;
	padding-bottom: 30px;
}